#countries-filter {
	--color: #cc00cc;
	--background: #ffffff;
	--shadowColor: #f7acf9;
}

/* From https://www.w3schools.com/howto/howto_js_filter_dropdown.asp */

input#countries-menu{
	border: 0px;
	border-bottom: 1px solid black;
	outline: none;
}

input:focus#countries-menu {
	border-bottom: 3px solid var(--color);
}

#search-dropdown .dropdown {
	display: flex;
	flex-direction: column;
}

#search-dropdown #dropdown-content {
	border: 1px solid black;
	border-top: 0px;
	/* margin-left: 5px; */
	/* margin-right: 5px; */
	background: var(--background);
	display: none;
	overflow-y: scroll;
	max-height: 80vh;
}

#search-dropdown.open #dropdown-content {
	display: block;
}

#search-dropdown .dropdown-item {
	cursor: pointer;
	padding: 5px;
}

#search-dropdown .dropdown-item:hover {
	color: var(--color);
}

#countries-filter .hide {
	display: none;
}

#search-dropdown .dropdown-item.selected {
	background: var(--color);
	color:var(--background);
}

#selected-countries .selected-countries{
	display: inline-block;
	border: 1px solid var(--color);
	margin: 1px;
	padding: 0px 5px 0px 5px;
	border-radius: 25px;
	font-size: 9pt;
}

#selected-countries .selected-countries:after {
    content: "✕";
    margin-left: 6px;
	color: var(--color);
	cursor: pointer;
	font-size: 8pt;
}

#selected-countries .selected-countries.hide {
	display: none;
}

#selected-countries {
	overflow: scroll;
}
