html {
	--rows: 20;
	--columns: 12;
	--grid-gap: 14px;
	--container-width: 96vw;
}

body {
	background: #F9F9F9;
	margin: 0;
	font-family: 'Alegreya Sans', sans-serif;
	color: #444444;
}

body * {
	/* outline: 1px solid cyan; */
}

a, a:visited {
	color: #C300FF;
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

hr {
	border: none;
	height: 1px;
	background-color: #BBBBBB;
}

rect {
	shape-rendering: crispEdges;
}

text.nodes-names {
	font-size: 0.8rem;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: bold;
}

.link {
	fill: none;
	will-change: opacity;
}

.link.link--faded {
	opacity: 0.1;
}

.interface {
	width: var(--container-width);
	margin: 0 auto;
	overflow: hidden;
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-rows: repeat(var(--rows), calc((100vh - var(--grid-gap) * (var(--rows) - 1))/var(--rows)));
	grid-template-columns: repeat(var(--columns), calc((var(--container-width) - var(--grid-gap) * (var(--columns) - 1))/var(--columns)));
}

.interface-item {
	border-top: 4px solid var(--color-main);
	padding: 1rem 0;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	/* background: #FFFFFF; */
}

.interface-item label {
	display: block;
}

.interface-item .etiquette {
	width: 95%;
	font-size: 0.7rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.interface-item .conduit {
	color: #000000;
	border-bottom: 4px solid #000000;
}

.interface-item .destination {
	color: #cc00cc;
	border-bottom: 4px solid #cc00cc;
}

.interface-item input {
	margin-bottom: 1rem !important;
}

.interface-item .onoffswitch-label {
	margin-bottom: 0.55rem !important;
}

#source-selector {
	/* border-top: 4px solid #c300ff; */
	grid-column: 1 / 3;
	grid-row:	1 / 3;
}

#range-selector {
	grid-column: 7 / 10;
	grid-row:	1 / 3;
	display: grid;
	grid-gap: calc(var(--grid-gap) - 4px);
	grid-template-columns: 1fr 1fr 1fr 0fr 1fr;
}

/* sub-items for range selector */

#range-selector #range-input {
	grid-column: 1 / 4;
	grid-row:	1 / 1;
}

#range-selector #separator {
	grid-column: 4 / 4;
	grid-row:	1 / 1;
}

#range-selector #range-toggle {
	grid-column: 5 / 5;
	grid-row:	1 / 1;
}

/* end of sub-items */

#countries-filter {
	/* border-top: 4px solid #000000; */
	grid-column: 3 / 7;
	grid-row:	1 / 3;
	/* display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: 1fr 0fr 1fr; */
	display: flex;
}

/* Countries-filter sub-items */

#countries-filter #search-dropdown {
	/* grid-column: 1 / 2;
	grid-row:	1 / 1; */
	/* width: 56%; */
}

#countries-filter #separator {
	/* grid-column: 2 / 2;
	grid-row:	1 / 1; */
	width: 2%;
}

#countries-filter #selected-countries {
	/* grid-column: 3 / 3;
	grid-row:	1 / 1; */
	width: 49%;
	margin-top: 1rem;
	min-height: 100%;
}


/* end of sub-items */

#countries-geo {
	grid-column: 10 / span 3;
	grid-row: 1 / -2;
	display: flex;
	flex-direction: column;
	padding: 1rem 0 0 0;
	opacity: 0;
	pointer-events: none;
}

#countries-geo.open {
	opacity: 1;
	pointer-events: auto;
}

/* Countries-geo sub-items */

#geo-map {
	background: #FFFFFF;
	height: 225px;
	padding: 0;
	border: 1px solid #DDD;
	border-radius: 3px;
}

#geo-map .graticule path {
	fill: none;
	stroke: #eee;
	stroke-width: 0.5px;
	opacity: 0.6;
}

#geo-map .world {
	fill: #feffe7;
	stroke: #f7acf9;
	/* stroke-width: 0.7px; */
}

#geo-map .map-borders {
	fill: none;
	stroke: #f7acf9;
	/* stroke-width: 0.7px; */
}

#geo-map .map-highlight.map-country {
	fill: rgba(247, 172, 249, 0.8);
	stroke: #cc00cc;
	/* stroke-width: 0.7px; */
}

#geo-map .map-highlight.map-pointer {
	fill: rgba(204, 0, 204, 0.1);
	stroke: #cc00cc;
	stroke-width: 2px;
}

#geo-details {
	padding: 1rem 0;
}

#geo-details .details-title {
	margin: 0;
	font-size: 16pt;
	color: #cc00cc;
}

#geo-details h6 {
	font-size: 8pt;
	margin: 0;
}

#geo-kpi ul {
	list-style-type: none;
	padding: 0;
}

#geo-kpi i {
	font-size: 0.8rem;
	margin-left: 0.3rem;
}

#geo-kpi li {
	padding: 0.4rem 0;
	border-bottom: 1px solid #DDDDDD;
}

#geo-kpi .kpi {
	float: right;
}

.details__line {
	stroke: #000000;
	stroke-width: 1px;
	opacity: 0.4;
	stroke-dasharray: 4;
}

.details__circle.circle--max {
	opacity: 0.6;
}

.details__amount {
	font-size: 10pt;
	font-weight: 400;
}

/* end of sub-items */

#countries-flows {
	grid-column: 10 / span 3;
	grid-row: 1 / -2;
	opacity: 0;
	pointer-events: none;
}

#countries-flows > .interface-item {
	display: grid;
	grid-template-rows: 220px 1fr;
	max-height: 100%;
}

#countries-flows.open {
	opacity: 1;
	pointer-events: auto;
}

/* Countries-flows sub-items */
#countries-flows h2 {
	margin: 0;
	padding-bottom: 1.5rem;
	border-bottom: 2px solid black;
}

#countries-flows h2 span {
	color: #cc00cc;
}

#countries-flows h6 {
	font-size: 8pt;
	margin: 0;
}

#countries-flows p {
	font-size: 10pt;
	font-weight: 400;
}

.flows__header {
	grid-row: 1 / span 1;
}

.flows__summary {
	display: flex;
	padding-bottom: 1rem;
	border-bottom: 2px solid black;
}

#countries-flows .flows__summary h6 {
	margin-right: 0.4rem;
	padding: 1rem 0.2rem 0.2rem 0;
	border-bottom: 2px solid black;
}

#countries-flows .flows__summary p {
	margin: 0.4rem 0;
}

.flow__columns {
	display: flex;
	justify-content: flex-end;
}

#countries-flows .flow__columns h6 {
	margin: 0.2rem 0;
	line-height: 1.1;
}

.flows__details {
	grid-row: 2 / -1;
	overflow-y: scroll;
}

#countries-flows .flows__details p {
	margin: 0.4rem 0;
}

.flow {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.flow__viz {
	width: 50%;
}

.flow__estimate {
	width: 30%;
}

.flow__uncertainty {
	width: 20%;
	text-transform: capitalize;
}

.flow__line {
	opacity: 0.2;
}

.flow__viz text {
	font-size: 8pt;
}

/* end of sub-items */

#chart {
	grid-column: 1 / 10;
	grid-row:	3 / -1;
	height: 99%;
}

#chart .chart-tooltip {
	position: absolute;
	background-color: #fff;
	border: 2px solid black;
	min-width: 100px;
	padding: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

#chart .tooltip-name {
	font-size: 9pt;
	font-weight: bold;
	margin: 0 0 3px;
}

#chart .tooltip-list {
	font-size: 9pt;
	margin: 0;
}

.modal {
	grid-column: 3 / span 7;
	grid-row: 4 / -4;
	background-color: #fff;
	padding: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 0.3s linear;
	pointer-events: none;
	z-index: 1;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
}

.modal.modal--open {
	opacity: 1;
	pointer-events: auto;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	opacity: 0;
	transition: opacity 0.3s linear;
	pointer-events: none;
}

.modal.modal--open + .modal-background {
	opacity: 0.8;
	pointer-events: auto;
}

.modal .modal__text {
	overflow-y: scroll;
}

.modal h2 {
	font-size: 16pt;
	text-transform: uppercase;
}

.modal p {
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.4;
}

.modal img {
	width: 70%;
	margin: 2rem calc((100% - 70%) / 2) 1rem;
}

.modal__buttons {
	display: flex;
	justify-content: space-between;
}

.modal__buttons button {
	border: 1px solid #c300ff;
}

.modal button {
	width: 120px;
	/* height: 32px; */
	margin-top: 22px;
	background-color: #FFFFFF;
	cursor: pointer;
	position: relative;
	z-index: 1;
	padding: 0.5rem;
	border-radius: 3px;
	transition: 0.3s ease all;
}

.modal button:hover {
	background: linear-gradient(to right,#c300ff, #f7931e);
}

.modal a {
	width: 120px;
	margin-top: 22px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	text-decoration: none;
	color: black;
	text-align: center;
}

/* .modal button::before,
.modal a::before,
.info-button::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to right,#c300ff, #f7931e);
opacity: 0;
transition: opacity 0.3s linear;
z-index: -1;
} */

.modal button:hover::before,
.modal a:hover::before,
.info-button:hover::before {
	opacity: 0.7;
}

.modal-buttons-container {
	grid-column: 11 / span 3;
	grid-row: 20 / 20;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding-right: 0.5rem;
	/* position: fixed;
	bottom: 2vh;
	right: 2vh; */
}

.modal-buttons-container div {
	color: #c300ff;
	height: auto;
	padding: 0.3rem 0.8rem;
	border: 1px solid #c300ff;
	margin-right: 0.5rem;
	border-radius: 2rem;
	background: #FFFFFF;
}

.modal-buttons-container div:hover {
	cursor: pointer;
	background: #f7acf9;
}

.modal-buttons-container .active {
	background: #c300ff;
	color: #FFFFFF;
}

/* .info-button, .interaction-button {
color: #c300ff;
cursor: pointer;
opacity: 0;
pointer-events: none;
transition: background 0.3s linear;
will-change: background;
background: #FFFFFF;
border: 1px solid #c300ff;
z-index: 1;
border-radius: 50%;
}

.info-button {
width: 10px;
height: 16px;
text-align: center;
padding: 5px 8px;
} */

.info-button.button--open {
	opacity: 1;
	pointer-events: auto;
}

#interaction-guide {
	grid-column: 10 / span 3;
	grid-row: 13 / 20;
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	padding: 1rem;
	overflow-y: scroll;
	display: none;
}

.visible {
	display: block !important;
}

#interaction-guide h3 {
	margin: 0rem;
}

#interaction-guide i {
	font-size: 0.9rem;
	margin-right: 0.5rem;
}

#interaction-guide .selected-countries{
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #C300FF;
	margin: 1px;
	padding: 2px 10px 2px 10px;
	border-radius: 25px;
	font-size: 0.9rem;
	font-weight: bold;
}

#interaction-guide .selected-countries:after {
	content: "✕";
	margin-left: 6px;
	color: #C300FF;
	cursor: pointer;
	font-size: 0.8rem;
}

#interaction-guide .country {
	background: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 0.2rem;
}

#interaction-guide .conduit {
	background: #666666;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 0.2rem;
}

#interaction-guide .destination {
	background: #cc00cc;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 0.2rem;
}

#interaction-guide .conduit-filter {
	border-bottom: 2px solid #000000;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 1rem 0 0;
}

#interaction-guide .flow-conduit {
	background: #c300ff;
	background: -moz-linear-gradient(left, #c300ff 1%, #f7931e 100%);
	background: -webkit-linear-gradient(left, #c300ff 1%,#f7931e 100%);
	background: linear-gradient(to right, #c300ff 1%,#f7931e 100%);
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 0.2rem;
	display: inline-block;
}

#interaction-guide .flow-direct {
	background: -moz-linear-gradient(left, rgba(0,173,255,0.6) 0%, rgba(0,173,255,0.6) 1%, rgba(153,255,102,0.6) 100%);
	background: -webkit-linear-gradient(left, rgba(0,173,255,0.6) 0%,rgba(0,173,255,0.6) 1%,rgba(153,255,102,0.6) 100%);
	background: linear-gradient(to right, rgba(0,173,255,0.6) 0%,rgba(0,173,255,0.6) 1%,rgba(153,255,102,0.6) 100%);
	color: #444444;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0 0.2rem;
	display: inline-block;
}

@media (min-width: 1200px) {
	html {
		--container-width: 97vw;
	}
}

@media (min-aspect-ratio: 2/1) {
	html {
		--rows: 12;
	}
}
