#source-selector #selected-item {
	font-size: 1.5rem;
	color: #cc00cc;
	cursor: pointer;
}

#source-selector.open #selected-item {
	border-bottom: 2px solid #cc00cc;
}

#source-selector #dropdown-content {
	border: 1px solid #BBBBBB;
	border-top: 0px;
	border-radius: 0 0 3px 3px;
	/* margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px; */
	background: white;
	display: none;
	font-family:
}

#source-selector.open #dropdown-content {
	display: block;
}

#source-selector .dropdown-item {
	cursor: pointer;
	padding: 5px;
}

#source-selector .dropdown-item:hover {
	color: #cc00cc;
}
