body {
    font-family: 'Roboto', sans-serif;
    /*background: #E3D4C1;*/
    /*background: #000;*/
}

rect {
    shape-rendering: crispEdges;
}

text {
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 12px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: monospace;
    /*fill: white;*/
}

.link {
    fill: none;
}

.link-over {
    stroke-dasharray: 5 5;
    animation-name: arcs-direction;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sankey-underlink {
    stroke-dasharray: 1 1;
    /* stroke-dashoffset: 1;
    animation: 2s infinite moveDisplacement; */
}

@keyframes moveDisplacement {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 10;
    }
}
