body {
    font-family: 'Roboto', sans-serif;
    /*background: #E3D4C1;*/
    /*background: #000;*/
}

rect {
    shape-rendering: crispEdges;
}

text {
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 12px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: monospace;
    /*fill: white;*/
}

.link {
    fill: none;
}

/* .sankey-underlink {
    filter: blur(4px);
} */

.sankey-movement-marker {
    stroke-dasharray: 8 500;
    animation: 3s linear infinite arcsDirection;
}

@keyframes arcsDirection {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -508;
    }
}
