html {
    --rows: 16;
    --columns: 16;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background: #E3D4C1;*/
    /*background: #000;*/
}

rect {
    shape-rendering: crispEdges;
}

text {
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 12px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: monospace;
    /*fill: white;*/
}

.interface {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(var(--rows), calc(100vh/var(--rows)));
    grid-template-columns: repeat(var(--columns), calc(100%/var(--columns)));
}

#title {
    grid-row: 2 / span 1;
    grid-column: 2 / span 6; 
}

.source-container {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2; 
}

#download {
    grid-row: -3 / span 1;
    grid-column: -3 / span 1;
    align-self: flex-end;
    height: 50%;
}

.slide-container {
    grid-row: 5 / span 1;
    grid-column: 2 / span 2; 
}

#breadcrumb-panel {
    grid-row: 6 / span 1;
    grid-column: 2 / span 2; 
}

#chart {
    grid-row: 5 / -1;
    grid-column: 2 / -1;
}

.link {
    fill: none;
}
