body {
    font-family: 'Roboto', sans-serif;
    /*background: #E3D4C1;*/
    /*background: #000;*/
}

rect {
    shape-rendering: crispEdges;
}

text {
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 12px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: monospace;
    /*fill: white;*/
}

.link {
    fill: none;
}

.sankey-underlink {
    stroke-dasharray: 1 1;
    /* stroke-dashoffset: 1;
    animation: 2s infinite moveDisplacement; */
}

.sankey-movement-marker {
    stroke-dasharray: 6 500;
    animation: 3s linear infinite arcsDirection;
}

@keyframes moveDisplacement {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 10;
    }
}

@keyframes arcsDirection {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -506;
    }
}
