.card {
    border-style: solid;
    border-width: 1px;
	border-color: gray;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	/* width: 300px; */
}

.name {
	font-family: sans-serif;
	font-size: 10px;
	width: 50px;
}

.arrows, .name {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
